<h1><%= @customer.name %></h1>

<div class="customer-details">
	<div class="form-group">
		<strong>Address:</strong>
		<%= @customer.address %>
	</div>

	<div class="form-group">
		<strong>City:</strong>
		<%= @customer.city %>
	</div>

	<div class="form-group">
		<strong>State:</strong>
		<%= @customer.state %>
	</div>

	<div class="form-group">
		<strong>Zipcode:</strong>
		<%= @customer.zipcode %>
	</div>
</div>
