<!DOCTYPE html>
<html>
	<head>
		<title>Bank ATM Transaction App</title>
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1"
		/>
		<%= csrf_meta_tags %> <%= csp_meta_tag %> <%= stylesheet_link_tag
		"application", "data-turbo-track": "reload" %> <%= javascript_importmap_tags
		%>
	</head>

	<body>
		<main class="container">
			<% if notice %>
			<div
				class="alert alert-success"
				role="alert"
			>
				<%= notice %>
			</div>
			<% end %> <% if alert %>
			<div
				class="alert alert-danger"
				role="alert"
			>
				<%= alert %>
			</div>
			<% end %> <%= yield %>
		</main>

		<footer class="footer">
			<div class="container">
				<p>
					&copy; <%= Date.current.year %> Bank ATM Transaction App. All rights
					reserved.
				</p>
			</div>
		</footer>
	</body>
</html>
